appdirs==1.4.4
APScheduler==3.6.3
catfish==1.4.10
certifi==2018.8.24
chardet==3.0.4
colorama==0.4.4
configure==0.5
cupshelpers==1.0
defusedxml==0.5.0
distlib==0.3.1
distro==1.3.0
distro-info==0.21
evdev==1.1.2
filelock==3.0.12
idna==2.6
img2pdf==0.3.3
importlib-metadata==4.0.1
lightdm-gtk-greeter-settings==1.2.2
lxml==4.3.2
mugshot==0.4.1
onboard==1.4.1
pdfarranger==1.6.2
pexpect==4.6.0
pikepdf==1.0.5+dfsg
Pillow==5.4.1
pycairo==1.16.2
pycups==1.9.73
PyGObject==3.30.4
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-debian==0.1.35
python-telegram-bot==13.5
python-xlib==0.23
pytz==2021.1
pyudev==0.21.0
PyYAML==5.4.1
reportlab==3.5.13
requests==2.21.0
rpl==1.5.6
six==1.12.0
telegram-send==0.25
tornado==6.1
typing-extensions==3.10.0.0
tzlocal==2.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==20.4.6
zipp==3.4.1
